In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('c:/users/ktauf/documents/github/final-project-du/web page/bird_sightings.csv')
df.head()

,Unnamed: 0,Recording_ID,English_name,Species,Country,Spectrogram_med,Date,Url,Latitude,Longitude,Vocalization_type,Recordist,mp3_url
0,43,234032,Common Chaffinch,Fringilla coelebs,United Kingdom,//www.xeno-canto.org/sounds/uploaded/BTOFEKXFG...,3/15/2015,//www.xeno-canto.org/234032,54.1246,-0.5468,"call, male, song",david m,//www.xeno-canto.org/sounds/uploaded/BTOFEKXFG...
1,44,168175,Common Chaffinch,Fringilla coelebs,United Kingdom,//www.xeno-canto.org/sounds/uploaded/BTOFEKXFG...,3/30/2012,//www.xeno-canto.org/168175,54.1248,-0.5719,"male, song",david m,//www.xeno-canto.org/sounds/uploaded/BTOFEKXFG...
2,45,213928,Common Chaffinch,Fringilla coelebs,United Kingdom,//www.xeno-canto.org/sounds/uploaded/BTOFEKXFG...,2/15/2015,//www.xeno-canto.org/213928,54.1246,-0.5702,"male, song",david m,//www.xeno-canto.org/sounds/uploaded/BTOFEKXFG...
3,46,512407,Common Chaffinch,Fringilla coelebs,Poland,//www.xeno-canto.org/sounds/uploaded/ZNCDXTUOF...,6/22/2015,//www.xeno-canto.org/512407,52.3724,20.6421,"adult, male, song",Jarek Matusiak,//www.xeno-canto.org/sounds/uploaded/ZNCDXTUOF...
4,47,177404,Common Chaffinch,Fringilla coelebs,United Kingdom,//www.xeno-canto.org/sounds/uploaded/BTOFEKXFG...,3/8/2014,//www.xeno-canto.org/177404,54.1288,-0.5471,"call, male, song",david m,//www.xeno-canto.org/sounds/uploaded/BTOFEKXFG...

In [3]:
species = []
common_name = []

for index, row in df.iterrows():
    sp = row['Species']
    cn = row['English_name']
    if sp not in species and cn not in common_name:
        species.append(sp)
        common_name.append(cn)
    else:
        pass

In [4]:
len(species)

49

In [5]:
len(common_name)

49

In [67]:
species_df = pd.DataFrame({'Species': species, 'Common Name': common_name})

species_df.head()

             Species         Common Name
0  Fringilla coelebs    Common Chaffinch
1        Parus major           Great Tit
2      Turdus merula    Common Blackbird
3  Turdus philomelos         Song Thrush
4    Sylvia communis  Common Whitethroat

In [68]:
species_df = species_df.sort_values('Common Name')

species_df = species_df[['Common Name', 'Species']]

species_df.head()

             Common Name                 Species
29          Barn Swallow         Hirundo rustica
23            Bluethroat        Luscinia svecica
17  Blyth's Reed Warbler  Acrocephalus dumetorum
27            Boreal Owl       Aegolius funereus
30          Cirl Bunting         Emberiza cirlus

In [69]:
species_df = species_df.reset_index(drop=True)

species_df.head()

            Common Name                 Species
0          Barn Swallow         Hirundo rustica
1            Bluethroat        Luscinia svecica
2  Blyth's Reed Warbler  Acrocephalus dumetorum
3            Boreal Owl       Aegolius funereus
4          Cirl Bunting         Emberiza cirlus

In [70]:
species_df.to_html('species_table.html', index=False)

In [28]:
recording_id = df['Recording_ID'].unique()

recording_id

array([234032, 168175, 213928, ..., 201176, 408254, 309791], dtype=int64)

In [34]:
new_id = 560337

if new_id in recording_id:
    print('recording already in use')
else:
    print('good recording')

good recording